@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  word-break: break-word;
  text-rendering: optimizeLegibility;
}

body {
  @apply h-screen;
}

.btn,
.btn-sm {
  @apply font-medium inline-flex justify-center items-center border border-transparent rounded leading-snug transition duration-150 ease-in-out;
}

.btn {
  @apply px-8 py-3 shadow-lg;
}

.btn-sm {
  @apply px-4 py-2 shadow;
}

.w-fix {
  width: 200px;
}

:focus,
button:focus,
.btn:focus,
.btn-sm:focus,
.form-input:focus,
.form-textarea:focus,
.form-multiselect:focus,
.form-select:focus,
.form-checkbox:focus,
.form-radio:focus {
  outline: 2px solid rgba(#0070f4, 0.5);
}
